# Tuple ,Set ,Dictionary

# Tuple Slicing

In [17]:
tup1 = ('one','two','three','four','five','six','eight')
tup1[0:3]

('one', 'two', 'three')

In [2]:
tup1[3:0]

()

In [4]:
tup1[:1:]

('one',)

In [12]:
tup1[-2:]

('six', 'eight')

In [14]:
tup1[-5]

'three'

In [16]:
tup1[-7:]

('one', 'two', 'three', 'four', 'five', 'six', 'eight')

In [19]:
tup1[:]

('one', 'two', 'three', 'four', 'five', 'six', 'eight')

# Remove & Change Items

In [20]:
tup1

('one', 'two', 'three', 'four', 'five', 'six', 'eight')

In [21]:
tup1[0]=1 #  Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object does not support item assignment

# Loop through a tuple

In [26]:
tupl1 = ('one', 'two', 'three', 'four', 'five', 'six', 'seven','eight','nine','Ten')
tupl1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'Ten')

In [27]:
for i in tupl1:
    print(i)

one
two
three
four
five
six
seven
eight
nine
Ten

In [29]:
for i in enumerate(tupl1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'nine')
(9, 'Ten')

# Count

In [36]:
t1 = (1,2,3,1,2,3,4,4,2,2,4,6,6,7,7)
t1

(1, 2, 3, 1, 2, 3, 4, 4, 2, 2, 4, 6, 6, 7, 7)

In [43]:
t1.count(7)

2

# Tuple Membership

In [45]:
tupl1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'Ten')

In [47]:
'one' in tupl1

True

In [48]:
'elevan' in tupl1

False

In [52]:
if 'six' in tupl1:
    print('present in tuple')
else:
    print('Not present in tuple')

present in tuple

# index Position

In [53]:
tupl1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'Ten')

In [54]:
tupl1.index('one')

0

In [56]:
tupl1.index('Ten')

9

# Sorting

In [58]:
t2 = (100,10,23,45,65,289,13,75,3258,369,258,147)
t2

(100, 10, 23, 45, 65, 289, 13, 75, 3258, 369, 258, 147)

In [59]:
sorted(t2)

[10, 13, 23, 45, 65, 75, 100, 147, 258, 289, 369, 3258]

In [60]:
sorted(t2, reverse= True)

[3258, 369, 289, 258, 147, 100, 75, 65, 45, 23, 13, 10]

# Set

1) Set elements are immutable (cannot be changed). 
2) Set itself is mutable. We can add or remove items from it.

# Set creation

In [61]:
set = {1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [62]:
len(set)

5

In [64]:
set1 = {1,2,1,2,3,6,3,6,5,4,4,5}  # Dublicat element not allow in set
set1

{1, 2, 3, 4, 5, 6}

In [65]:
set2 = {1.01,2.08,88.36,1.00,} # float
set2

{1.0, 1.01, 2.08, 88.36}

In [68]:
set3 = {'patil','divesh','shivaji'} # string
set3

{'divesh', 'patil', 'shivaji'}

In [69]:
set4 = {10,20, "Hola", (11, 22, 32)} # mixed set
set4

{(11, 22, 32), 10, 20, 'Hola'}

# Loop through a Set

In [70]:
set = {'one','two','three','fore','five','six'}
set

{'five', 'fore', 'one', 'six', 'three', 'two'}

In [71]:
for i in set:
    print(i)

five
one
two
fore
six
three

In [72]:
for i in enumerate(set):
    print(i)

(0, 'five')
(1, 'one')
(2, 'two')
(3, 'fore')
(4, 'six')
(5, 'three')

# Set Membership

In [73]:
set

{'five', 'fore', 'one', 'six', 'three', 'two'}

In [74]:
'one' in set

True

In [76]:
'seven' in set

False

In [78]:
if 'Ten' in set:
    print('preaent in set')
else:
    print('Not present in set')

Not present in set

# Add & Remove Items

In [79]:
set

{'five', 'fore', 'one', 'six', 'three', 'two'}

In [81]:
set.add('seven') # Add

In [82]:
set

{'five', 'fore', 'one', 'seven', 'six', 'three', 'two'}

In [96]:
set.add('six')

In [92]:
set

{'five', 'fore', 'one', 'seven', 'six', 'three', 'two'}

In [93]:
set.remove('six') # Remove

In [94]:
set

{'five', 'fore', 'one', 'seven', 'three', 'two'}

In [98]:
set.clear()

In [99]:
set

set()

In [100]:
set.update(['one','two','three','four','five','six','seven',]) # update

In [101]:
set

{'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [102]:
set.discard('one')  # discard
set

{'five', 'four', 'seven', 'six', 'three', 'two'}

In [103]:
set.clear()

In [104]:
set

set()

# Copy Set

In [105]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [106]:
myset1 = myset # Create a new reference "myset1" 
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [108]:
id(myset1), id(myset)  # The address of both myset & myset1 will be the same as

(1705340000672, 1705340000672)

In [109]:
my_set = myset.copy()  # Create a copy of the list 
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [110]:
id(my_set)

1705341750624

In [111]:
my_set.add('NINE')
my_set

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [112]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [113]:
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [114]:
my_set

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation

1.Union
2.Intersection
3.Difference
4.Symmetric Difference
5.Subset , Superset & Disjoint

# Union

In [115]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [116]:
A | B  # All elements from both sets. NO DUPLICATES

{1, 2, 3, 4, 5, 6, 7, 8}

In [119]:
A.union(B,C) # All element are union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [136]:
A.update(B,C) 
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection

In [120]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [123]:
A.intersection(B,) # Common items in both sets

{4, 5}

In [126]:
B & C

{8}

# Difference

In [127]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [130]:
A.difference(B)  # set of elements that are only in A but not in B

{1, 2, 3}

In [131]:
B - C

{4, 5, 6, 7}

# Symmetric Difference

In [132]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [133]:
A.symmetric_difference(B) # A and B same same element not print

{1, 2, 3, 6, 7, 8}

In [134]:
B ^ C

{4, 5, 6, 7, 9, 10}

# Subset , Superset & Disjoint

In [150]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [152]:
B.issubset(A) # dady of B

True

In [153]:
A.issuperset(B) # A is child B

True

In [154]:
B.isdisjoint(C)

True

# Dictionary

1. Dictionary is a mutable data type in Python
2. collection of key and value pairs

In [ ]:
mydict = {} # create dictionary
mydic

In [160]:
mydict = {1:'one', 2:'two', 3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [169]:
mydict = {'A':'one', 'B':'two','C':'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [171]:
mydict.keys() # dictionary keys

dict_keys(['A', 'B', 'C'])

In [172]:
mydict.values() # values

dict_values(['one', 'two', 'three'])

In [173]:
mydict.items()

dict_items([('A', 'one'), ('B', 'two'), ('C', 'three')])

In [174]:
mydic = {1:'one', 2:'two', 'A':['Patil','Divesh']}
mydic

{1: 'one', 2: 'two', 'A': ['Patil', 'Divesh']}

In [175]:
mydict = {1:'one', 2:'two', 'A':['divesh','shivaji','patil'], 'B':['jalgaon','jamner','shirpur']}
mydict

{1: 'one',
 2: 'two',
 'A': ['divesh', 'shivaji', 'patil'],
 'B': ['jalgaon', 'jamner', 'shirpur']}

In [176]:
keys = {'a','b','c','d'}
mydict3 = dict.fromkeys(keys)  # Create a dictionary from a sequence of keys
mydict3

{'b': None, 'a': None, 'd': None, 'c': None}

In [180]:
keys = {'a','b','c','d'}
values = 'divesh'
mydict3 = dict.fromkeys(keys,values)
mydict3

{'b': 'divesh', 'a': 'divesh', 'd': 'divesh', 'c': 'divesh'}

In [181]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'b': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30]}

In [182]:
value.append(40) 
mydict3

{'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

# Accessing Items

In [183]:
mydic = {45:'Bio', 56:'chem', 89:'phy', 70:'math'}
mydic

{45: 'Bio', 56: 'chem', 89: 'phy', 70: 'math'}

In [184]:
mydic[56] # Access item using key

'chem'

In [186]:
mydic.get(70)

'math'

# Add, Remove & Change Items

In [187]:
dic = {'Name':'Khan', 'Id':451212, 'DOB':1983, 'Address':'Hydrabad'}
dic

{'Name': 'Khan', 'Id': 451212, 'DOB': 1983, 'Address': 'Hydrabad'}

In [189]:
dic['Id'] = 425141
dic['Address'] = 'Pune' #  Changing Dictionary Items 
dic

{'Name': 'Khan', 'Id': 425141, 'DOB': 1983, 'Address': 'Pune'}

In [191]:
dict1 = {'DOB':1990}
dic.update(dict1)  #change the dic name
dic

{'Name': 'Khan', 'Id': 425141, 'DOB': 1990, 'Address': 'Pune'}

In [194]:
dic['job']='Testing'  # Adding the items in dictionary
dic

{'Name': 'Khan',
 'Id': 425141,
 'DOB': 1990,
 'Address': 'Pune',
 'job': 'Testing'}

In [195]:
dic.pop('job') # Remove the items
dic

{'Name': 'Khan', 'Id': 425141, 'DOB': 1990, 'Address': 'Pune'}

In [196]:
dic.popitem() # A random item is removed

('Address', 'Pune')

In [197]:
dic

{'Name': 'Khan', 'Id': 425141, 'DOB': 1990}

In [199]:
dic.clear() # Delete all items of the dictionary using clear method 
dic

{}

# Copy Dictionary

In [201]:
mydict = {'Name':'vijay' , 'ID': 1515345 , 'DOB': 1990 , 'Address' : 'all world'} 
mydict

{'Name': 'vijay', 'ID': 1515345, 'DOB': 1990, 'Address': 'all world'}

In [203]:
mydict1 = mydict # new referance in dictionary

In [204]:
id(mydict1), id(mydict)

(1705354448192, 1705354448192)

In [205]:
mydict

{'Name': 'vijay', 'ID': 1515345, 'DOB': 1990, 'Address': 'all world'}

In [206]:
mydict2 = mydict.copy() # create a copy dict

In [207]:
id(mydict2) #id

1705352511360

In [210]:
mydict['Address']= 'mumbai'
mydict

{'Name': 'vijay', 'ID': 1515345, 'DOB': 1990, 'Address': 'mumbai'}

In [211]:
mydict1

{'Name': 'vijay', 'ID': 1515345, 'DOB': 1990, 'Address': 'mumbai'}

In [212]:
mydict2

{'Name': 'vijay', 'ID': 1515345, 'DOB': 1990, 'Address': 'all world'}

 # Loop through a Dictionary

In [213]:
mydict = {'Name':'vijay' , 'ID': 1515345 , 'DOB': 1990 , 'Address' : 'all world'} 
mydict

{'Name': 'vijay', 'ID': 1515345, 'DOB': 1990, 'Address': 'all world'}

In [214]:
for i in mydict:
    print(i,':', mydict[i])  # key and value pairs

Name : vijay
ID : 1515345
DOB : 1990
Address : all world

In [215]:
for i in mydict:     # dictionary items
    print(mydict[i])

vijay
1515345
1990
all world

# Dictionary Membership

In [216]:
mydict = {'Name':'vijay' , 'ID': 1515345 , 'DOB': 1990 , 'Address' : 'all world'} 
mydict

{'Name': 'vijay', 'ID': 1515345, 'DOB': 1990, 'Address': 'all world'}

In [220]:
'Name'in mydict  # only keys accept

True

In [221]:
1990 in mydict

False

# All / Any

In [222]:
mydict = {'Name':'vijay' , 'ID': 1515345 , 'DOB': 1990 , 'Address' : 'all world'} 
mydict

{'Name': 'vijay', 'ID': 1515345, 'DOB': 1990, 'Address': 'all world'}

In [223]:
all(mydict) # Will Return false as one value is false (Value 0)

True